<div class="col-md-6 col-md-offset-3">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label "Profile Name:" %><br/>
        <%= f.text_field :profile_name, autofocus: true, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Email:" %><br/>
        <%= f.email_field :email, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Password:" %>
        <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Password Confirmation:" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Sign up", :class => "btn btn-primary" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

