<div class="form-horizontal col-xs-12 col-sm-6 col-md-8">
  <fieldset>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "Error") %> prohibited
            this Item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form_for :item, url: items_path do |f| %>
        <legend>Create Your New Checklist Item</legend>
        <div class="form-group">
          <%= f.label :title, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :title, :class => "form-control", :placeholder => "Enter your title" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Description", :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_area :description, :class => "form-control", :rows => "3", :placeholder => "Enter your Description (Optional)" %>
            <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Submit", :class => "btn btn-primary" %>
            <%= link_to 'Cancel', root_path, :class => "btn btn-default" %>
          </div>
        </div>
    <% end %>
  </fieldset>
</div>

