<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png' %>
  <title>Checklist</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="fa fa-check-square fa-lg"></span>
        Checklist<sup><i class="fa fa-plus"></i></sup></a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
          <li><%= link_to "New Item", new_item_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><%= current_user.profile_name %>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">

  <%= yield %>


</div>
<footer>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p><i class="fa fa-copyright fa-fw"></i>
          Checklist<sup><i class="fa fa-plus"></i></sup></p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="/about">About us</a></li>
          <li><a href="https://github.com/rafiqdeen/checklist" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
